@page "/mainpage"
@using MudBlazor
@using PhotoSorter.UI.WinForm.Data
@using PhotoSorter.UI.WinForm.Components
@inject PhotoSorter.UI.WinForm.Data.MainPageState MainPageState
@inject Radzen.DialogService DialogService

<RadzenDialog />

<MudThemeProvider/>
@*<MudDialogProvider/>*@
@*<MudSnackbarProvider/>*@

<h1>Photo sorter</h1>

@switch (PageState)
{
    case PageStateEnum.SelectFolders:
        <SelectFoldersPage 
            OnPreviewClick="ShowPreviewClick"></SelectFoldersPage>
        break;
    case PageStateEnum.PreviewFolders:
        <RreviewFoldersPage 
            SourceFolderItem="_source" 
            DestFolderItem="_dest" 
            OnReturnClick="PreviewReturnClick"
            OnExecuteClick="ExecuteClick"></RreviewFoldersPage>
        break;
    case PageStateEnum.ShowResult:
        <ResultPage OnReturnClick="ResultReturnClick"></ResultPage>
        break;
}
<MudOverlay Visible="IndicatoVisible" DarkBackground="true" Absolute="true">
    <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
</MudOverlay>





