<h3>The result should be shown here</h3>
<table>
    <tr>
        <td>
        </td>
        <td></td>
        <td style="width: 100px">
            <RadzenButton Click="OnPageReturnClick">Return</RadzenButton>
        </td>
    </tr>
</table>